<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    {% extends 'base.html' %}
{% block title %}ABOUT {% endblock title %}
{% block body %}  
<div class="container">
<div class="card text-center">
    <div class="card-header bg-black">
      <h5 class="text-white"> WeTheCoderz</h5>
    </div>
    <div class="card-body">
      <h5 class="card-title">Know about your culture, know about your ancestors and know about your freedom fighters</h5>
      <p class="card-text"> Created By Kunal and Aakash</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
    <div class="card-footer text-muted">
      Thanks for visiting us.
    </div>
  </div>
</div>
{% endblock %}
</body>
</html>
