<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bhagat Singh</title>
</head>

<body>
    {% extends 'index.html' %}
    {% block title %} BHAGAT SINGH {% endblock title%}
    {% block body %}
    <div class="container my-3">
        <div class="card text-center">

            <div class="card-body">
                <h5 class="card-title">Bhagat Singh</h5>
                <img src="/static/images/BS.jpg" class="d-block w-100" alt="">
                <p class="card-text">Bhagat Singh, (born September 27, 1907, Lyallpur, western Punjab, India [now in
                    Pakistan]—died March 23, 1931, Lahore [now in Pakistan]), revolutionary hero of the Indian
                    independence movement.

                    Bhagat Singh attended Dayanand Anglo Vedic High School, which was operated by Arya Samaj (a reform
                    sect of modern Hinduism), and then National College, both located in Lahore. He began to protest
                    British rule in India while still a youth and soon fought for national independence. He also worked
                    as a writer and editor in Amritsar for Punjabi- and Urdu-language newspapers espousing Marxist
                    theories. He is credited with popularizing the catchphrase “Inquilab zindabad” (“Long live the
                    revolution”).</p>
                <p class="card-text">
                    In 1928 Bhagat Singh plotted with others to kill the police chief responsible for the death of
                    Indian writer and politician Lala Lajpat Rai, one of the founders of National College, during a
                    silent march opposing the Simon Commission. Instead, in a case of mistaken identity, junior officer
                    J.P. Saunders was killed, and Bhagat Singh had to flee Lahore to escape the death penalty. In 1929
                    he and an associate lobbed a bomb at the Central Legislative Assembly in Delhi to protest the
                    implementation of the Defence of India Act and then surrendered. He was hanged at the age of 23 for
                    the murder of Saunders.
                </p>
                <h1>National Movement & Revolutionary Activities </h1>
                <p class="card-text">Initially, Bhagat Singh’s activities were limited to writing corrosive articles
                    against the British Government, printing and distributing pamphlets outlining principles of a
                    violent uprising, aimed at overthrowing the Government. Considering his influence on the youth, and
                    his association with the Akali movement, he became a person of interest for the government.The
                    police arrested him in a bombing case that took place in 1926 in Lahore. He was released 5 months
                    later on a 60,000 rupees bond.

                    On 30 October 1928, Lala Lajpat Rai led an all-parties procession and marched towards the Lahore
                    railway station to protest against the arrival of the Simon Commission. The police resorted to a
                    brutal lathi charge to thwart the advancement of the protesters. The confrontation left Lala Lajpat
                    Rai with severe injuries and he succumbed to his injuries on November17, 1928. As a revenge for the
                    death of Lala Lajpat Rai, Bhagat Singh and his associates plotted the assassination of James A.
                    Scott, the Superintendent of Police, believed to have ordered the lathi charge. The revolutionaries,
                    mistaking J.P. Saunders, an Assistant Superintendent of Police, as Scott, killed him instead. Bhagat
                    Singh quickly left Lahore to escape his arrest. To avoid recognition, he shaved his beard and cut
                    his hair, a violation of the sacred tenets of Sikhism.</p>
                <p class="card-text">In response to the formulation of Defence of India Act, the Hindustan Socialist
                    Republican Association planned to explode a bomb inside the assembly premises, where the ordinance
                    was going to be passed. On April 8 1929, Bhagat Singh and Batukeshwar Dutt threw a bomb onto the
                    corridors of the assembly, shouted 'Inquilab Zindabad!' and threw pamphlet outlining their missive
                    into the air. The bomb was not meant to kill or injure anyone and therefore it was thrown away from
                    the crowded place, but still several council members were injured in the commotion. Following the
                    blasts both Bhagat Singh and Batukeshwar Dutt courted arrest.</p>
                <h1>1929 Assembly Incident Trial</h1>
                <p class="card-text">
                    The dramatic demonstration of protest was met with widespread criticisms from the political arena.
                    Singh responded – “Force when aggressively applied is 'violence' and is, therefore, morally
                    unjustifiable, but when it is used in the furtherance of a legitimate cause, it has its moral
                    justification.”

                    Trial proceedings commenced in May where Singh sought to defend himself, while Batukeshwar Dutt was
                    represented by Afsar Ali. The court ruled in favour of a life sentence citing malicious and unlawful
                    intent of the explosions.
                </p>
                <h1>Lahore Conspiracy Case & Trial</h1>
                <p class="card-text">
                    Soon after the sentencing, the police raided the HSRA bomb factories in Lahore and arrested several
                    prominent revolutionaries.Three individuals, Hans Raj Vohra, Jai Gopal and Phanindra Nath Ghosh
                    turned approver for the Government which led to a total of 21 arrests including those of Sukhdev,
                    Jatindra Nath Das and Rajguru. Bhagat Singh was re-arrested for the Lahore Conspiracy case, murder
                    of Assistant Superintendent Saunders and bomb manufacturing.

                    Trial started against 28 accused in a special session court presided over by Judge Rai Sahib Pandit
                    Sri Kishen, on July10, 1929.
                    <br>
                    Meanwhile, Singh and his fellow inmates declared an indefinite hunger strike in protest of the prejudiced difference in treatment of the white versus native prisoners and demanded to be recognised as ‘political prisoners’. The hunger strike received tremendous attention from the press and gathered major public support in favour of their demands. Death of Jatindra Nath Das, after 63 days long fast, led to the negative public opinions intensifying towards the authorities. Bhagat Singh finally broke his 116-day fast, on request of his father and Congress leadership, on October 5, 1929.
                    <br>
                    Owing to the slow pace of the legal proceedings, a special tribunal consisting of Justice J. Coldstream, Justice Agha Hyder and Justice G. C. Hilton was set up on the directives of the Viceroy, Lord Irwin on 1 May 1930. The tribunal was empowered to proceed without the presence of the accused and was a one-sided trial that hardly adhered to the normal legal rights guidelines. 
                    <br>
                    The tribunal delivered its 300-page judgement on 7 October 1930. It declared that irrefutable proof has been presented confirming the involvement of Singh, Sukhdev and Rajguru in the Saunders murder. Singh admitted to the murder and made statements against the British rule during the trial.  They were sentenced to be hanged till death.
                </p>
                <h1>Bhagat Singh’s Thoughts & Opinions</h1>
                <p class="card-text">
                    From a very young age patriotism had taken its seed in Bhagat Singh’s conscience. He grew up to appreciate nationalism and crave a British-free independent India. Extensive reading of European literature propelled him towards forming a socialist outlook strongly desiring a democratic future for his beloved country. Although born a Sikh, Bhagat Singh veered towards Atheism after witnessing several Hindu-Muslim riots and other religious outbreaks. Singh believed that something as precious as Independence can only be achieved by a thorough cleansing of the exploitative nature of imperialism. He opined that such change can only be brought forwardby means of an armed revolution, in similar lines to the Bolshevik Revolution in Russia. He introduced the slogan “Inquilab Zindabad” which sort of transformed into the war cry of the Indian Independence movement.
                </p>
                <h3>Popularity & Legacy</h3>
                <p class="card-text">Bhagat Singh, his intense patriotism coupled with cultivated idealism, made him an ideal icon for the youth of his generation. Through his written and vocal admonition of the British Imperial Government, he became the voice of his generation. His vehement departure from the Gandhian non-violent route to Swaraj has often been criticized by many, yet through the fearless embracing of martyrdom he inspired hundreds of teens and youths to join the freedom struggle wholeheartedly. His eminence in current times is evident from the fact that Bhagat Singh was voted as the Greatest Indian, ahead of Subhash Chandra Bose and Mahatma Gandhi, in a poll conducted by India Today in 2008.</p>
                <h1>Bhagat Singh in Popular Culture</h1>
                <p class="card-text">The inspiration that Bhagat Singh still ignites within the soul of Indians can be felt in the popularity of the films and theatrical adaptations on his life. Several films like “Shaheed” (1965) and “The Legend of Bhagat Singh” (2002) were made on the life of 23-year old revolutionary. Popular songs like the “Mohe rang de basanti chola” and “Sarfaroshiki Tamanna” associated with Bhagat Singh are still relevant in inspiring patriotic emotions in the Indians. Numerous books, articles and papers have been written about his life, ideologies and legacy. Bhagat Singh is quite popular on social media sites as well. On the video sharing website YouTube, you can find several videos, including Life Story of Bhagat Singh, on the life of the firebrand revolutionary .</p>
                <a href="https://en.wikipedia.org/wiki/Bhagat_Singh" class="btn btn-primary">Know More</a>
            </div>
            <div class="card-footer text-muted">
                Thanks for visitiing us.
            </div>
        </div>
    </div>
    {% endblock body %}
</body>

</html>