<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Lal Bahadur Shastri</title>
</head>

<body>
    {% extends 'index.html' %}

    {% block title %} LAL BAHADUR SHASTRI {% endblock title %}

    {% block body %}
    <div class="container my-3">
        <div class="card text-center">

            <div class="card-body">
                <h5 class="card-title">Lal Bahadur Shastri</h5>
                <img src="/static/images/LBS.jpeg" class="d-block w-100" alt="">
                <p class="card-text">Lal Bahadur Shastri, (born October 2, 1904, Mughalsarai, India—died January 11,
                    1966, Tashkent, Uzbekistan, U.S.S.R.), Indian statesman, prime minister of India (1964-66) after
                    Jawaharlal Nehru.

                    A member of Mahatma Gandhi's noncooperation movement against British government in India, he was
                    imprisoned for a short time (1921). Upon release he studied in the Kashi Vidyapitha, a
                    nationalist university, where he graduated with the title of shastri (“learned in the
                    scriptures”). He then returned to politics as a follower of Gandhi, was imprisoned several more
                    times, and attained influential positions in the Congress Party of the state of the United
                    Provinces, now Uttar Pradesh state.</p>
                <p class="card-text">
                    Shastri was elected to the legislature of the United Provinces in 1937 and 1946. After Indian
                    independence, Shastri gained experience as minister for home affairs and transport in Uttar Pradesh.
                    He was elected to the central Indian legislature in 1952 and became union minister for railways and
                    transport. He gained a reputation as a skillful mediator after his appointment to the influential
                    post of minister for home affairs in 1961. Three years later, on Jawaharlal Nehru’s illness, Shastri
                    was appointed minister without portfolio, and after Nehru’s death he became prime minister in June
                    1964.
                </p>
                <p class="card-text">
                    Shastri was criticized for failing to deal effectively with India’s economic problems, but he won
                    great popularity for his firmness on the outbreak of hostilities with neighbouring Pakistan (1965)
                    over the disputed Kashmir region. He died of a heart attack after signing a “no-war” agreement with
                    Pres. Ayub Khan of Pakistan and was succeeded as prime minister by Indira Gandhi, Nehru’s daughter.
                </p>
                <h1>In Government</h1>
                <p class="card-text">
                    Following India's independence, Shastri was appointed Parliamentary Secretary in his home state,
                    Uttar Pradesh. He became the Minister of Police and Transport under Govind Ballabh Pant's Chief
                    Ministership. As the Transport Minister, he was the first to appoint women conductors. As the
                    minister in charge of the Police Department, he ordered that Police use jets of water instead of
                    lathis to disperse unruly crowds.

                    In 1951, he was made the General Secretary of the All-India Congress Committee, with Jawaharlal
                    Nehru as the President. He was directly responsible for the selection of candidates and the
                    direction of publicity and electioneering activities. He played an important role in the landslide
                    successes of the Congress Party in the Indian General Elections of 1952, 1957 and 1962.
                </p>
                <p class="card-text">
                    In 1951, Nehru nominated him to the Rajya Sabha. He served as the Minister of Railways and Transport
                    in the Central Cabinet from 1951 to 1956. In 1956, he offered his resignation after a railway
                    accident at Mahbubnagar it led to 112 deaths. However, Nehru did not accept his resignation. Three
                    months later, he resigned accepting moral and constitutional responsibility for a railway accident
                    at Ariyalur in Tamil Nadu that resulted in 144 deaths. While speaking in the Parliament on the
                    incident, the then Prime Minister, Jawaharlal Nehru, stated that he was accepting the resignation
                    because it would set an example in constitutional propriety and not because Shastri was in any way
                    responsible for the accident. Shastri's unprecedented gesture was greatly appreciated by the
                    citizens.

                    In 1957, Shastri returned to the Cabinet following the General Elections, first as the Minister for
                    Transport and Communications, and then as the Minister of Commerce and Industry. In 1961, he became
                    Minister for Home. As Union Home Minister he was instrumental in appointing the Committee on
                    Prevention of Corruption under the Chairmanship of K. Santhanam.
                </p>
                <h1>Prime Minister</h1>
                <p class="card-text">
                    Jawaharlal Nehru died in office on 27 May 1964 and left a void. The then Congress Party President K. Kamaraj was instrumental in making and installing Shastri as Prime Minister on 9 June. Shastri, though mild-mannered and soft-spoken, was a Nehruvian socialist and thus held appeal to those wishing to prevent the ascent of conservative right-winger Morarji Desai.
                    In his first broadcast as Prime Minister, on 11 June 1964, Shastri stated:
                    <br>
                    <br>
                    <strong>“There comes a time in the life of every nation when it stands at the cross-roads of history and must choose which way to go. But for us there need be no difficulty or hesitation, no looking to right or left. Our way is straight and clear – the building up of a socialist democracy at home with freedom and prosperity for all, and the maintenance of world peace and friendship with all nations.”</strong>
                </p>
                <h1>War with Pakistan</h1>
                <p class="card-text">
                    The problem for Shastri's administration was Pakistan. Laying claim to half of the Kutch peninsula, Pakistan sent incursion forces in August 1965, which skirmished with Indian tank divisions. In his report to the Lok Sabha on the confrontation in Kutch, Shastri stated:
                    <br>
                    <br>
                    <strong>“In the utilization of our limited resources, we have always given primacy to plans and projects for economic development. It would, therefore, be obvious for anyone who is prepared to look at things objectively that India can have no possible interest in provoking border incidents or in building up an atmosphere of strife... In these circumstances, the duty of Government is quite clear and this duty will be discharged fully and effectively... We would prefer to live in poverty for as long as necessary but we shall not allow our freedom to be subverted.”</strong>
                </p>
                <p class="card-text">Under a scheme proposed by the British PM, Pakistan obtained 10%, in place of their original claim of 50% of the territory. But Pakistan's aggressive intentions were also focused on Kashmir. When armed infiltrators from Pakistan began entering the State of Jammu and Kashmir, Shastri made it clear to Pakistan that force would be met with force. Just in September 1965, major incursions of militants and Pakistani soldiers began, hoping not only to break-down the government but incite a sympathetic revolt. The revolt did not happen, and India sent its forces across the Ceasefire Line (now Line of Control) and threatened Pakistan by crossing the International Border near Lahore as war broke out on a general scale. Massive tank battles occurred in the Punjab, and while Pakistani forces made some gains, Indian forces captured the key post at Haji Pir, in Kashmir, and brought the Pakistani city of Lahore under artillery and mortar fire.</p>
                <a href="https://en.wikipedia.org/wiki/Lal_Bahadur_Shastri" class="btn btn-primary">Know More</a>
            </div>
            <div class="card-footer text-muted">
                Thanks for visitiing us.
            </div>
        </div>
    </div>
    {% endblock body %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>